<!DOCTYPE html>
<html>
<head>
  <title>Liveguides</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Clamp.js/0.5.1/clamp.min.js' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render partial: "layouts/navbar" %>
  <main class="container"%>
    <%= yield %>
  </main>

</body>
</html>
